<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="headF">
<head>
<meta charset="utf-8"/>
<title>Gestion des Secrétaires</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
th:href="@{css/style.css}"
/>
</head>
<body>
<div class="container"  layout:fragment="content">
	<div class=" spacer col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"> Mise à jour des informations d'une secrétaire</div>
				<div class="panel-body">
					<form th:action="@{save}" method="post">
				
						<div class="form-group">
							<label class="control-label">ID:</label>
							<input class = "form-control" type="text" name="login" 
							th:value="${secretaire.login}" readonly="true"/>	
							<span class="red" th:errors="${secretaire.login}"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Mot de passe:</label>
							<input class = "form-control" type="text" name="motDePasse" 
							th:value="${secretaire.motDePasse}"/>	
							<span class="red" th:errors="${secretaire.motDePasse}"></span>
						</div>
						
						
					
						
						<div class="form-group">
							<label class="control-label">Nom:</label>
							<input class = "form-control" type="text" name="nom" 
							th:value="${secretaire.nom}"/>	
							<span class="red" th:errors="${secretaire.nom}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label">Prénom:</label>
							<input class = "form-control" type="text" name="prenom" 
							th:value="${secretaire.prenom}"/>	
							<span class="red" th:errors="${secretaire.prenom}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label">Téléphone:</label>
							<input class = "form-control" type="text" name="tel" 
							th:value="${secretaire.tel}"/>	
							<span class="red" th:errors="${secretaire.tel}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label">E-mail:</label>
							<input class = "form-control" type="text" name="email" 
							th:value="${secretaire.email}"/>	
							<span class="red" th:errors="${secretaire.email}"></span>
						</div>
						
										<div class="form-group">
     <label class="col-md-3 control-label">Département:</label>
         <div class="col-md-5">
         <div >
             <select name="id">
                 <option th:each="dept:${dept}"
                                 th:value="${dept.id}"
                                 th:text="${dept.nom}"
                                 
                                />
             </select>
        </div>
       
    </div>
 </div>
 <br/>
 <br/>
 	<div class="form-group">
     <label class="col-md-3 control-label">Rôle:</label>
         <div class="col-md-5">
         <div >
             <select name="rolee">
                 <option th:each="rol:${rol}"
                                 th:value="${rol}"
                                 th:text="${rol}"
                                 
                                />
             </select>
        </div>
       
    </div>
 </div>
						
		 	<br/>
 <center>		
						
						<div>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
						</div>
						</center>	
					</form>
				</div>
			</div>
	</div>
	</div>
</body>
</html>