<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="headF">
<head>
<meta charset="utf-8"/>
<title>Gestion des Soutenances</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
</head>
<body>
<p></p>
<div  class="container" layout:fragment="content">
<div  class="container">
	<form th:action="@{ListeSoutenance}" method="get">
	<input type="text" name="motCle" th:value="${motCle}"/>
	<button class="btn btn-primary">Chercher</button>
		
	</form>


</div>


<div class="container" >
	<h3>Liste des Soutenances</h3>
	 <table class="table">
		<thead>
			<tr>
			<th>Nom du sujet</th><th>Informations sur le jury</th><th>Nom du Groupe</th><th>Membre du groupe</th><th>Date du soutenance</th><th>Notifier</th>
			</tr>
			
		</thead>
		<tbody>
		 <tr th:each="s:${ListSoutenance}">
	 
	 <td th:text="${s.nomSujet}"></td>
		 <td th:text="${s.infoJury}"></td>
		 <td th:text="${s.nomGroupe}"></td>
		 
	 <td th:text="${s.listeEtudiants}"></td>
	 <td th:text="${s.DateSoutenance}"></td>
		 
		 
		
		
		<td><a class="far fa-bell" th:href="@{Notifier(idS=${s.idSoutenance})}">Notifier</a></td>
		 
		 </tr>
		</tbody>
	</table>
</div>
  <div class="container">
  	<ul class="nav nav-pills">
  		<li th:class="${pagecourante}==${status.index}?'active':''" th:each="page,status:${pages}">
  		<a th:href="@{ListeSoutenance(page=${status.index},size=${size},motCle=${motCle})}" th:text="${status.index}">
  		</a>
  		</li>
  	</ul>
  </div>
  </div>
</body>
</html>